/* Default styles for all screen sizes */
#some-element {
    width: 100%;
    font-size: 16px;
}

/* Media query for screens with a maximum width of 768px (typically smartphones) */
@media (max-width: 768px) {
    #some-element {
        width: 80%;
        font-size: 14px;
    }
}

/* Media query for screens with a minimum width of 769px and a maximum of 1024px (typically tablets) */
@media (min-width: 769px) and (max-width: 1024px) {
    #some-element {
        width: 60%;
        font-size: 16px;
    }
}

/* Media query for screens with a minimum width of 1025px (typically desktops) */
@media (min-width: 1025px) {
    .some-element {
        width: 50%;
        font-size: 18px;
    }
}

#container{
    padding: 2rem;
    background-color: #ccc;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
}

#container{
    display: flex;
    flex-wrap: wrap;
}

#some-element {

  border: 1px solid #ccc;
  background-color: rgb(196, 154, 159);
  padding: 2rem;
  overflow: auto;
  width: 120%;
  height: 80%;
  max-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.;

}


nav ul li {
  list-style-type: none;
 
}

p {
    font-family: 'josefin sans';
    font-size: 3 rem;
}

/*fix the linking to the css style sheet*/