@media(max-width: 600px){
    /*add mobile styles*/
    body{
        font-size: 14px;
    }
}

@media  (min-width: 601px){
    body{
        font-size: 16px;
    }
}
    
.container{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
}

.container{
    display: flex;
    flex-wrap: wrap;
}