/* Default styles for all screen sizes */
#some-element {
    width: 100%;
    font-size: 16px;
}

/* Media query for screens with a maximum width of 768px (typically smartphones) */
@media (max-width: 768px) {
    #some-element {
        width: 80%;
        font-size: 14px;
    }
}

/* Media query for screens with a minimum width of 769px and a maximum of 1024px (typically tablets) */
@media (min-width: 769px) and (max-width: 1024px) {
    #some-element {
        width: 60%;
        font-size: 16px;
    }
}

/* Media query for screens with a minimum width of 1025px (typically desktops) */
@media (min-width: 1025px) {
    .some-element {
        width: 50%;
        font-size: 18px;
    }
}

#container{
    padding: 2rem;
    background-color: #ccc;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 500;
}

#container{
    display: flex;
    flex-wrap: wrap;
}

#some-element {

  border: 1px solid #ccc;
  background-color: rgb(196, 154, 159);
  padding: 2rem;
  overflow: auto;
  width: 120%;
  height: 80%;
  max-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.);

}


nav ul li {
  list-style-type: none;
 
}

p {
    font-family: 'josefin sans';
    font-size: 3 rem;
}

/* Style for the logo */
.logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
   
}

/* Style for the navigation links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    

}

/* .navbar{
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5baed;
    color: #fff;
    padding: 10px 20px;
} */

nav ul li{
    display: inline-block;
   
    padding-top: 20px;
    margin-right: 100px;
    position: relative;
}
.menu-icon {
    display: none; /* Hide by default on larger screens */
    cursor: pointer;
}
nav ul li a{
    padding: 15px 20px;
}

.nav-links li a {
    color: #1e7a1e;
    text-decoration: none;
    font-weight: 600;
}

/* Hover effect for navigation links */
.nav-links li a:hover {
    color: rgb(170, 105, 58);
    border-bottom: 2px solid #1b741b;
}

/* Add responsive styles for smaller screens */
@media (max-width: 768px) {
    .nav-links {
        
        gap: 10px;
    }
}



.intro {
    flex: 1;
}

#container-1{
    background-image: url(img/art.jpeg);
    background-size: cover;
    padding-bottom: 10%;
}

nav ul li a {
    /* float: right; */
    display: inline-block;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.footer p {
    margin: 0;
}